<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper" data-namespace-typo3-fluid="true">
<f:layout name="Detail" />
<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
		
			<section class="box-text-media is-rtl">
			  <div class="text-media__content">
			    <div>
			      <h1>{newsItem.title}</h1>
				  <f:format.html>{newsItem.bodytext}</f:format.html>
				  <div class="backlink">
					  <f:link.page pageUid="{settings.backPid}">zurück</f:link.page>
				  </div>
			    </div>
			  </div>
			  <div class="text-media__image">
			    <figure>
					<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings:settings}" />
				</figure>
			  </div>
			</section>		
			
		
		
		
		
		
			
		</f:then>
	</f:if>
</f:section>
</html>
