<!doctype html>
<html class="no-js" lang="de">
<head>
<meta charset="utf-8">
<f:format.raw>{pageTitle}</f:format.raw>
<meta name="keywords" content="Ihr Partner bei der Planung und Realisierung von Metallbauprojekten in Stahl, Aluminium und CNS - seit 1954.">
<meta property="og:image" content="https://www.altorfer-ag.ch/fileadmin/assets/img/og.jpg">
<meta property="og:title" content="Home - Altorfer AG Metallbau – Ihr Spezialist für Metallbau">
<meta property="og:description" content="Ihr Partner bei der Planung und Realisierung von Metallbauprojekten in Stahl, Aluminium und CNS - seit 1954.">
<meta property="og:site_name" content="Altorfer AG Metallbau">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#ffffff">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/fileadmin/assets/css/app.css">
<script src="/fileadmin/assets/js/modernizr.js"></script>
</head>
<body>
<f:render section="body" />
<script src="/fileadmin/assets/js/app.js"></script>
</body>
</html>
<!-- made with ♥ by marceli.to -->